<p id="notice"><%= notice %></p>

<p>
  <strong>Tournament:</strong>
  <%= @bracket.tournament_id %>

</p>
<p><strong>Teams:</strong>
  <%= @teams.name %>
</p>

<%= link_to 'Edit', edit_bracket_path(@bracket) %> |
<%= link_to 'Back', brackets_path %>
