<tr>
     <td>
          <%= player.first_name %> <%= player.last_name %>
     </td>
     <td>
          <%= player.height_feet %>'<%= player.height_inches %>"
     </td>
     <td>
          <%= player.weight %>
     </td>
     <td>
          <%= player.phone %>
     </td>
</tr>